<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
      <%= form_for(@user, :html =>{:role => 'form', :onsubmit => 'return validateForm(this)'}) do |f| %>
          <div class="widget register-widget">
            <h4 class="page-header text-center">
              Voer alstublieft uw aanvullende gegevens in voor u verder gaat
            </h4>
          </div>
          <div class="widget register-widget">
            <div class="form-group">
              <label class="control-label" for="date_of_birth">
                Geboortedatum*:
              </label>
              <%= f.text_field :date_of_birth, :class => 'form-control required datepicker', :id=>'date_of_birth', 'data_nicename'=> 'geboortedatum'; %>
            </div>
            <div class="form-group">
              <label class="control-label" for="phone">
                Telefoonnummer:
              </label>
              <%= f.text_field :phone, :class => 'form-control', :id=>'phone', 'data_nicename'=> 'telefoonnummer'; %>
            </div>
            <div class="form-group">
              <label class="control-label" for="mobile_phone">
                Mobiele nummer*:
              </label>
              <%= f.text_field :mobile_phone, :class => 'form-control required', :id => 'mobile_phone', 'data_nicename' => 'mobiele nummer'; %>
            </div>
            <div class="form-group">
              <label class="control-label" for="address">
                Adres*:
              </label>
              <%= f.text_field :adres, :class => 'form-control required', :id=>'adres', 'data_nicename' => 'adres'; %>
            </div>
            <div class="form-group">
              <label class="control-label" for="zipcode">
                Postcode*:
              </label>
              <%= f.text_field :zipcode, :class => 'form-control required', :id=>'zipcode', 'data_nicename' => 'postcode'; %>
            </div>
            <div class="form-group">
              <label class="control-label" for="place">
                Plaats*:
              </label>
              <%= f.text_field :place, :class => 'form-control required', :id=>'place', 'data_nicename' => 'plaats'; %>
            </div>
            <div class="form-group">
              <%= f.submit "Registreeer", :class => "btn btn-block btn-info" %>
            </div>
          </div>
      <% end %>
      <div id="form-error-handler"></div>
    </div>
  </div>
</div>
