<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <h1>Mijn huis</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-xs-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Huize <%= @user.lastname %></h3>
        </div>
        <div class="panel-body">
          <p>Naam: <%= "#{@user.firstname} #{@user.lastname}" %></p>
          <p>Plaats: <%= @user.place %></p>
          <p>Adres: <%= @user.adres %></p>
          <p>Postcode: <%= @user.zipcode %></p>
          <p>Telefoon: <%= @user.phone %></p>
          <p>Mobiel: <%= @user.mobile_phone %></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Locatie</h3>
        </div>
        <div class="panel-body">
          <div style="height: 180px; margin: 0px; padding: 0px" id="map-canvas"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">
              Bewoners
            </h3>
          </div>
        </div>
        <div id="huis-bewoners" class="clearfix">
          <div id="huis-bewoners-wrap" class="pull-left">
              <% @bewoners.each do|bewoner| %>
                  <div class="bewoner">
                    <%= bewoner.firstname+" "+bewoner.lastname;%>
                  </div>
              <% end %>
          </div>
          <div id="add-bewoner-modal-trigger" class="pull-right">
            <i class="fa fa-plus"></i>
          </div>
        </div>

    </div>
    <div class="col-md-6 col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Laatste activiteiten</h3>
        </div>
        <div class="panel-body">
        </div>
        <table class="table">
          <thead>
              <tr>
                <th>
                  Actie
                </th>
                <th>
                  Tijd
                </th>
              </tr>
          </thead>
          <tbody>
              <tr>
                <td>
                  1
                </td>
                <td>
                  Tijd
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
    var map,
        marker;

    function setCurrentLocation() {
        addLocation(<%= @user.latitude.to_s %>, <%= @user.longitude.to_s %>);
    }

    function initialize() {
        var mapOptions = {
            zoom: 17,
            center: new google.maps.LatLng(<%= @user.latitude.to_s+","+@user.longitude.to_s; %>),
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            disableDefaultUI: true
        };

        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    }

    function addLocation(lat, long) {
        var users_marker = new google.maps.MarkerImage('<%=image_url('icons/user.png');%>');

        marker = new google.maps.Marker({
            map: map,
            position: new google.maps.LatLng(lat, long),
            title: '<%= @user.firstname + " " + @user.lastname; %>',
            icon: users_marker
        });

        return marker;
    }

    $(document).ready(function() {
        $("#add-bewoner-modal-trigger").css("height",$("#huis-bewoners-wrap").height()).css("line-height",$("#huis-bewoners-wrap").height()+"px");
        $("#add-bewoner-modal-trigger").click(function(){
           $("#add-bewoner-modal").modal();
        });
        setTimeout(function() {
            initialize();
        }, 500);

        setTimeout(function() {
            setCurrentLocation();
        }, 1000);
    });
</script>

<div class="modal fade" id="add-bewoner-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Toevoegen</h4>
      </div>
      <div class="modal-body">
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-plus"></i> Gezinslid toevoegen</li>
          <li><i class="fa-li fa fa-plus"></i> Gebruiker toevoegen</li>
        </ul>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

