<div class="container">
    <h1>Instellingen</h1>

  <div class="panel panel-primary col-md-6 col-md-offset-3 col-xs-12" style="padding: 0px; position: relative; float: left; margin: 0px 15px 0px 0px;">
    <div class="panel-heading">
      <h3 class="panel-title">Gegevens</h3>
    </div>
    <div class="panel-body">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-xs-12">
            <%= form_for(current_user, :html =>{:role => 'form', :onsubmit => 'return validateForm(this)'}) do |f| %>
                <div class="widget register-widget">

                </div>
                <div class="widget register-widget">
                  <div class="form-group">
                    <label class="control-label" for="firstname">
                      Voornaam:
                    </label>
                    <%= f.text_field :firstname, :class => 'form-control required', :id=>'firstname', 'data_nicename'=> 'voornaam'; %>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="lastname">
                      Achternaam:
                    </label>
                    <%= f.text_field :lastname, :class => 'form-control required', :id=>'lastname', 'data_nicename'=> 'achternaam'; %>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="email">
                      E-mail adres:
                    </label>
                    <%= f.text_field :email, :class => 'form-control required', :id => 'email', 'data_nicename' => 'e-mail adres'; %>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="password">
                      Wachtwoord:
                    </label>
                    <%= f.password_field :password, :class => 'form-control required', :id=>'password', 'data_nicename' => 'Wachtwoord'; %>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="password_confirmation">
                      Wachtwoord bevestiging*:
                    </label>
                    <%= f.password_field :password_confirmation, :class => 'form-control required', :id=>'password_confirmation', 'data_nicename' => 'Wachtwoord'; %>
                  </div>
                  <div class="form-group">
                    <%= f.submit "Opslaan", :class => "btn btn-block btn-info" %>
                  </div>
                </div>
            <% end %>
            <div id="form-error-handler"></div>
          </div>
        </div>
    </div>
  </div>

  <div class="panel panel-primary col-md-5 col-md-offset-3 col-xs-12" style="padding: 0px; position: relative; float: left; margin: 0px;">
    <div class="panel-heading">
      <h3 class="panel-title">Locatie</h3>
    </div>
    <div class="panel-body">
      Je kunt hier je instellingen wijzigen. Je kunt onderanderen je locatie aanpassen en de radius waarin je berichten
      wilt ontvangen. <%= link_to 'Aanpassen', user_location_path, :class => 'btn btn-primary' %>
    </div>
  </div>
</div>