<div class="well well-small" style="text-align:left">
  <h4>Reageren</h4>


    <%= form_tag(reaction_create_url, method: "post") do %>
    <%= hidden_field_tag :react_type, react_type; %>
    <%= hidden_field_tag :react_to, react_to; %>

    <div class="row-fluid">

      <%= text_area_tag 'message', nil, class: 'form-control input-xxlarge', id: 'react_message'; %>

    </div>
    <div class="row-fluid">

      <%= button_tag "Reactie plaatsen", :class => "answer_reaction btn btn-info" %>

    </div>
  <% end %>


</div>


